<!-- header.ejs -->
<header>
    <div class="header-container">
        <div class="logo">
            <h1>Company Logo</h1>
        </div>
        <nav>
            <ul>
                <li><a href="http://localhost:1234/signup">SignUp</a></li>
            </ul>
        </nav>
    </div>
</header>
